body {
	background-color: #74C09A;
}

.mainpage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
	display: inline;
	font-size: 20px;
	color: #4A4A4A;
}

/*CSS inputan nama*/

.input1 {
	width: 60%;
	border-radius: 10px;
	border: none;
	background-color: #F2F2F2;
	padding-left: 10px;
	height: 25px;
}

.input1::-webkit-input-placeholder {
	font-style: italic;
	font-size: 12px;
}

.namas1 span {
	cursor: pointer;
}

.searchicon {
	border: none;
	background: transparent;
	cursor: pointer;
	margin-left: -35px;
}

/*Akhir CSS inputan nama*/

.spesifik {
	font-size: 11px;
	margin-top: 10px;
	color: #4A4A4A;
}

/*CSS untuk sidebar*/

.hasilnama {
	background-color: #4A4A4A;
	width: 200px;
	height: 30px;
	color: #ffffff;
	padding-top: 5px;
	padding-left: 10px;
}

.hasilnama1 {
	height: 300px;
	width: 200px;
	background-color: #f2f2f2;
}

.hasilnama1 a {
	text-decoration: none;
	color: black;
}

.aktif {
	width: 150px;
	height: 20px;
	background-color: #22bfb8;
}

.aktif a {
	color: white;
}

.usulkans {
	background-color: #22bfb8;
	color: white;
	width: 200px;
}


.usulkans p {
	cursor: pointer;
}

.deskripsi h1 i {
	font-size: 16px;
}

/*Akhir CSS sidebar*/

/*CSS untuk footer*/

.footer {
	height: 50px;
	margin-left: 115px;
	width: 940px;
	background-color: #4A4A4A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.footlog {
	font-size: 20px;
	margin-top: 10px;
}

.foottext {
	display: inline;
	margin-top: 15px;
}

.cpyright {
	font-size: 11px;
	margin-top: 5px;
}

/*Akhir CSS footer*/