body {
	background-color: #74C09A;
}

.mainpage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logos {
	height:500px; 
	display: flex;
	justify-content: center; 
	align-items: center;
}

.namas {
	height: 500px;
	position: relative;
}

.namas1 {
	position: absolute;
	top: 50%;
	height: 10em;
	margin-top: -5em;
}

.namas11 {
	font-size: 18px;
	font-family: sans-serif;
}

.namas12 {
	font-size: 70px;
	font-family: sans-serif;
	margin-top: -20px;
}

/*CSS inputan nama*/

.input1 {
	width: 95%;
	border-radius: 10px;
	border: none;
	background-color: #F2F2F2;
	padding-left: 10px;
	height: 35px;
}

.input1::-webkit-input-placeholder {
	font-style: italic;
}

.namas1 span {
	cursor: pointer;
}

.searchicon {
	border: none;
	background: transparent;
	cursor: pointer;
	margin-left: -50px;
}

/*Akhir CSS inputan nama*/

.spesifik1 {
	font-size: 14px;
	margin-left: 10px;
}

.usuls {
	height: 500px;
}

.kotakusul {
	position: absolute;
	height: 25px;
	margin-left: -35px;
	border-radius: 10px;
	padding-top: 3px;
	width: 120px;
	font-size: 12px;
	bottom: 0;
	color: #ffffff;
	margin-bottom: 13px;
	border: 1px solid;
	background-color: #4A4A4A;
	cursor: pointer;
}

.tambah {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 30px;
}

/*CSS untuk footer*/

.footer {
	height: 50px;
	margin-left: 115px;
	width: 940px;
	background-color: #4A4A4A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.footlog {
	font-size: 20px;
	margin-top: 10px;
}

.foottext {
	display: inline;
	margin-top: 15px;
}

.cpyright {
	font-size: 11px;
	margin-top: 5px;
}

/*Akhir CSS footer*/