body {
	background-color: #74C09A;
}

.mainpage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kotakadmin {
	width: 300px;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headeradmin {
	height: 70px;
	width: 300px;
	margin-left: 15px;
	background-color: #22bfb8;
}

.headertext {
	display: inline-block;
	color: white;
	font-size: 26px;
	margin-top: 15px;
}

.inputadmin {
	margin-top: 30px;
	height: 230px;
}

.tombollogin {
	background-color: #22bfb8;
	color: white;
}

.tombollogin:hover {
	background-color: #22bfb8;
	color: white;
}

/*CSS untuk footer*/

.footer {
	height: 50px;
	margin-left: 115px;
	width: 940px;
	background-color: #4A4A4A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.footlog {
	font-size: 20px;
	margin-top: 10px;
}

.foottext {
	display: inline;
	margin-top: 15px;
}

.cpyright {
	font-size: 11px;
	margin-top: 5px;
}

/*Akhir CSS footer*/