body {
	background-color: #74C09A;
}

.mainpage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headermimin {
	height: 70px;
	background-color: #22bfb8;
}

.headertext {
	display: inline-block;
	color: white;
	font-size: 30px;

	margin-top: 15px;
}

.headerlogout {
	background-color: #22bfb8;
	height: 70px;
	color: white;
	font-size: 16px;
}

/*CSS untuk sidebar*/
.sidebar {
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 15px;
	border-radius: 2%;
}

.sidebar p {
	color: #c0c0c0;
	font-family: sans-serif;
}
/*Akhir CSS sidebar*/

/*CSS untuk mainpage*/
.kotakmain {
	height: 400px;
	width: 690px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 15px;
	border-radius: 2%;
}
/*Akhir CSS untuk mainpage*/

/*CSS untuk footer*/

.footer {
	height: 50px;
	margin-left: 165px;
	width: 940px;
	background-color: #4A4A4A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.footlog {
	font-size: 20px;
	margin-top: 10px;
}

.foottext {
	display: inline;
	margin-top: 15px;
}

.cpyright {
	font-size: 11px;
	margin-top: 5px;
}

/*Akhir CSS footer*/